{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body>





        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Our News & Blog</h4>
                <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Ana Səhifə</a></li>
                    <li class="breadcrumb-item"><a href="#">Səhifələr</a></li>
                    <li class="breadcrumb-item active text-secondary">News & Blog</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

<!-- Blog Start -->
{% if blogs %}
<div class="container-fluid blog pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <p class="text-uppercase text-secondary fs-5 mb-0">Xəbərlər və Bloq</p>
            <h2 class="display-4 text-capitalize mb-3">Ən son xəbərlərimiz və məqalələrimiz</h2>
        </div>
        <div class="row g-4">
            {% for blog in blogs %}
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item h-100">
                    <div class="blog-img">
                        <img src="{{ blog.image.url }}" class="img-fluid w-100" alt="">
                    </div>
                    <div class="blog-content p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <p class="mb-0"><i class="fa fa-calendar-check text-secondary me-1"></i>{{ blog.created_at }}</p>
                            <p class="mb-0"><i class="fa fa-user text-secondary me-1"></i> Admin</p>
                        </div>
                        <a href="#" class="h4 d-block mb-4">{{ blog.content|truncatechars:25 }}</a>
                        <a class="btn btn-secondary py-2 px-4" href="#">Ətraflı oxu</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
{% endif %}
<!-- Blog End -->


        
{% endblock %}