{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body>



  

        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Üstünlüklərimiz</h4>
                <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Ana Səhifə</a></li>
                    <li class="breadcrumb-item"><a href="#">Səhifələr</a></li>
                    <li class="breadcrumb-item active text-secondary">Feature</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

        <!-- Features Start -->
        <div class="container-fluid feature bg-light py-5">
            {% if why_choose_us %}
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <p class="text-uppercase text-secondary fs-5 mb-0">Niyə Biz</p>
                    <h2 class="display-4 text-capitalize mb-3">Niyə Bizi Seçməlisiniz</h2>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="feature-item text-center border p-5">
                            <div class="feature-img bg-secondary d-inline-flex p-4">
                                <i class="fas fa-city text-primary fa-5x"></i>
                            </div>
                                    {% with first_item=why_choose_us.0 %}
                                        <a href="#" class="h4 d-block my-4">{{ first_item.title }}</a>
                                        
                                        <p class="mb-0">{{ first_item.description }}</p>
                                        {% endwith %}

                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="feature-item text-center border p-5">
                            <div class="feature-img bg-secondary d-inline-flex p-4">
                                <i class="fas fa-funnel-dollar text-primary fa-5x"></i>
                            </div>
                            {% with second_item=why_choose_us.1 %}
                            <a href="#" class="h4 d-block my-4">{{ second_item.title }}</a>
                            <p class="mb-0">{{ second_item.description }}</p>
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="feature-item text-center border p-5">
                            <div class="feature-img bg-secondary d-inline-flex p-4">
                                <i class="fas fa-tools text-primary fa-5x"></i>
                            </div>
                            {% with third_item=why_choose_us.2 %}
                            <a href="#" class="h4 d-block my-4">{{ third_item.title }}</a>
                            <p class="mb-0">{{ third_item.description }}</p>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            {% endif %}
        </div>
        <!-- Features End -->


{% endblock %}