
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>





        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Layihələrimiz</h4>
                <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Ana Səhifə</a></li>
                    <li class="breadcrumb-item"><a href="#">Səhifələr</a></li>
                    <li class="breadcrumb-item active text-secondary">Layihələr</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

 <!-- Projects Start -->
{% if projects %}
<div class="container-fluid project py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <p class="text-uppercase text-secondary fs-5 mb-0">Layihələrimiz</p>
            <h2 class="display-4 text-capitalize mb-3">Tamamlanmış Layihələr</h2>
        </div>
        <div class="row g-5">
            {% for project in projects %}
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="project-item">
                    <!-- RESİM ÜSTTE -->
                    <div class="project-img mb-3">
                        <img src="{{ project.image.url }}" class="img-fluid w-100 fixed-img" alt="">
                    </div>
                    <!-- YAZI ALTA -->
                    <div class="project-content mb-3">
                        <p class="fs-5 text-secondary mb-2"><a class="fs-5 text-secondary mb-2" href="{% url 'projects_by_category' project.category.name %}">{{ project.category.name }}</a>
</p>
                        <a href="#" class="h4">{{ project.title }}</a>
                        <p class="mb-0 mt-3">{{ project.description }}</p>
                    </div>
                    <a class="btn btn-primary py-2 px-4" href="#">Daha Ətraflı</a>
                </div>
            </div>
            {% endfor %}

            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a class="btn btn-secondary py-3 px-5" href="{% url 'projects' %}">Daha Çox Layihə</a>
            </div>
        </div>
    </div>
</div>
{% else %}
{% endif %}
<!-- Projects End -->



{% endblock %}