{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body>




        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Müştəri Rəyləri</h4>
                <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Ana Səhifə</a></li>
                    <li class="breadcrumb-item"><a href="#">Səhifələr</a></li>
                    <li class="breadcrumb-item active text-secondary">Rəylər</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

        <!-- Testimonial Start -->
         {% if reviews %}
        <div class="container-fluid testimonial pb-5">
            <div class="container pb-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <p class="text-uppercase text-secondary fs-5 mb-0">Rəylər</p>
                    <h2 class="display-4 text-capitalize mb-3">Müştərilərimizin rəyləri.</h2>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.4s">
                    {% for review in reviews %}
                    <div class="testimonial-item bg-light p-4">
                        <div class="position-relative">
                            <i class="fa fa-quote-right fa-2x text-primary position-absolute" style="bottom: 30px; right: 0;"></i>
                            <div class="mb-4 pb-4 border-bottom border-secondary">
                                <p class="mb-0">{{ review.feedback }}</p>
                                </p>
                            </div>
                            <div class="d-flex align-items-center flex-nowrap">
                                <div class="me-4">
                                    <img src="{{ review.image.url }}" class="img-fluid w-100" style="width: 100px; height: 100px;" alt="">
                                </div>
                                <div class="d-block">
                                    <h4 class="text-dark">{{ review.name }}</h4>
                                    <p class="m-0 pb-3">{{ review.position }}</p>
                                    <div class="d-flex text-secondary pe-5">
                                        {% for i in "12345" %}
                                            {% if forloop.counter <= review.rate %}
                                                <i class="fas fa-star"></i>
                                            {% else %}
                                                <i class="fas fa-star text-muted"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}  
        {% endif %}
        <!-- Testimonial End -->


        
{% endblock %}